body {
    background-color: rgb(27, 107, 177);
    margin: 0;
    padding: 0;
}
h1 {
    display: flex;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    background-color: rgb(163, 243, 239);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin: 150px 5rem 2rem 5rem;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 20px;
}
p {
    display: flex;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 3rem;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 20px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: lightblue;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    border-radius: 3px;
}
.nav-list{
    display: flex;
    margin-right: 2rem;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    margin-right: 1.2rem;
    color: black;
    font-size: 1.2rem;
}
section a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 5rem;
    font-size: 1.2rem;
    padding: 10px 15px;
    color: darkblue;
    text-decoration: none;
    background-color: lightseagreen;
}
section a:hover {
    background-color: deepskyblue;
    color: white;
}
section
{
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section div {
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    background-color: white;
}