body {
    background-color: rgb(13, 45, 73);
    margin: 0;
    padding: 0;
}
h1 {
    display: flex;
    margin-block-start: 2.67em;
    margin-block-end: 2.67em;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 150px;
    font-size: 1.2rem;
    border-radius: 15px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: lightblue;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    border-radius: 3px;
}
.nav-list{
    display: flex;
    margin-right: 2rem;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    margin-right: 1.2rem;
    color: black;
    font-size: 1.2rem;
}
.home{
  width: 100vw;
  background-color: rgb(5, 102, 102);
  margin: 0;
  padding: 20px 60px;
  box-sizing: inherit;
}
a:hover {
    background-color: salmon;
    animation: fade-in 0.5s ease-in-out;
}
.projects {
    margin: 0;
    width : 100vw;
    padding: 20px 60px;
    background-color: lightgray;
}
section {
    border-radius: 15px;
    margin: 3px 0;
}
section h1, section h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
}